/* ....STart of sec1---- */
#myVideo {
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
}
/* ....End of sec1---- */

.cont-left-col {
    background-color: rgba(44, 192, 165, 0.3);
    color: white;
    margin: 2rem;
    margin-top: 8rem;
    padding: 2rem;
    border-radius: 20px;
}

.contTitle {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    transition: 0.5s;
}

.contTitle:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.contBtn {
    text-align: center;
    padding-top: 2rem;
}

.firstBtn {
    color: white;
    background: transparent;
    border-radius: 30px;
    padding: 10px 20px;
}

.firstBtn:hover {
    border: none;
}

/* .main-Btn {
    width: 12rem;
    border-radius: 30px;
    background-color: #5ae67f;
    margin: auto;
    padding: 10px 20px;
    
}

.main-Btn:hover {
    width: 12rem;
    border-radius: 30px;
        border-color: rgba(236, 241, 234, 0.3);
    background-color: transparent;
    cursor: pointer;
} */


/* ----Start of grid ----- */
.gridGuard {
    margin: 1rem;
    /* background-color:blue; */
}

.gridSupport {
    background-color: rgba(44, 192, 165, 0.3);
    padding: 3rem;
    
}

.grid-left-col {
    /* background-color: red; */
    display: flex;
    /* padding: 0; */
}

.grid-left-item1 {
    flex: 1;
}

.grid-left-item2 {
    flex: 1;
    margin-left: 1rem;
}

.grid-right-col {
    /* background-color: orange; */
    display: flex;
}

.grid-right-item1 {
    flex: 1;
}

.grid-right-item2 {
    flex: 1;
    margin-left: 1rem;
}

.grid-right-input {
    width: 4rem;
}

.gridBtn {
    padding-top: 2rem;
}

.secondBtn {
    padding: 5px 10px;
}


/* ----End of grid ----- */