/* -----Start of GallleryGuard---- */
.gall-image {
    /* position: relative; */
    text-align: center; 
}

/* NOTE: text-align property works on block-level elements and 
not inline elements,*/

.gall-img1 {
    width: 310px;
    height: 450px;
    margin-top: 150px;
    margin-bottom: 0;
}

.gall-img2 {
    width: 270px;
    height: 220px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    top: 380px;
    left: 0;
}

.gall-heading {
    position: relative;
    text-align: left;
    margin-top: 150px;
    padding-bottom: 40px;
}

.gall-heading::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100px;
    height: 4px;
    background: yellow;
}

.gall-heading h5 {
    padding-top: 1rem;
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

.gall-heading h2 {
    font-size: 35px;
    font-weight: 500;
}

.gall-text {
    margin: 20px 20px 0 20px;
    padding: 1rem;
    padding-right: 1rem;
    line-height: 26px;
}

.gall-btn {
    text-align: center;
    
}

.third-btn {
    color: white;
    background-color: rgb(201, 124, 60);
    border-radius: 30px;
    padding: 5px 20px;
}

.third-btn:hover {
    cursor: pointer;
}
/* -----End of GallleryGuard---- */


/* ----Start of Amenity ---- */
.image-container {
    margin-top: 90px;
    position: relative;
    width: 100%;
    height: 450px;
    margin-bottom: 6rem;
    overflow: hidden;
}

.amenity-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.amenity-content {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    padding: 3rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    /* transform: translate(-90%, -50%); */
    
    color: white;
}

.amenity-writing {
    text-align: center;
}

.amenity-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.amenity-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.amenity-icons {
    font-size: 2rem;
    text-align: left;     
    display: grid;
    grid-template-columns: 1fr;
    margin: auto auto;       
}

.amenity-push {
    display: flex;
    margin: auto auto;
    flex-direction: column;
}

.icon-control{
    padding: 0;
    margin: 0 auto;
    margin-right: 10px;
    margin-top: 10px;
}


/* .amenity {
    position: relative;
    margin-top: 11rem;
}

.a-image {
    width: 310px;

}

.amenity-head {
    font-size: 30px;
    font-weight: 600;
}

.amenity-info {
    background: rgb(92, 200, 242, 0.6); 
    color: white;
}

.amenity-content {
    padding: 0;
    padding-top: 20px;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    gap: 3px;

}

.icon-control {
    margin-right: 0.3rem;
} */

/* ----End of Amenity ---- */


/* ----Start of Cafe Guard---- */
@media (max-width: 575.98px) {
    .order-md-1, .order-md-2 {
        order: 0;
    }
}
.cafe-image {
    text-align: center;
}

.cafe-img {
    height: 600px;
}

.cafe-head {
    font-size: 30px;
    font-weight: 600;
}

.cafe-text {
    /* background-color: red;*/
    padding: 40px 0 100px 0;
}

.cafe-heading {
    font-size: 30px;
    font-weight: 600;
    color: rgb(247, 196, 129);
}

.cafe-info {
    line-height: 25px;
}

.read-or-hide {
    color: rgb(184, 169, 5);
}

.cafe-content {
    box-sizing: border-box;
    box-shadow: 0 13px 43px 0 rgb(37 46 89/ 10%);
}
/* .cafe-open.expanded {
    transform: translateX(0);
}

.cafe-close .cafe-content {
    transition: height 1s ease-out;
    transition: scaleY(0);
    float: left;
    display: block;
}

.cafe-open .cafe-content {
    font-family: sans-serif;
    opacity: 0.8;
    width: 100%;
    display: block;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    box-shadow: 0 13px 43px 0 rgb(37 46 89/ 10%);
}

.cafe-item {
    margin-top: 30px;
} */

/* ----End of Cafe Guard---- */




/* ---Start of map--- */
.map-control {
    margin: 0;
    margin-top: 10rem;
}
.map-control iframe {
    width: 100%;
}
/* ---End of map--- */